body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: cornsilk;
  }
  header {
    background-color: cornsilk;
    padding: 20px;
  }
  section {
    background-color: darkseagreen;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
  }
  div {
    background-color: cornsilk;
    margin:auto;
    width:1000px;
  
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

  }
  li{
    display: inline-block;
    margin-right: 20px;
  }
  footer {
    background-color: darkseagreen;
    padding: 10px 20px;

  }